* {
  box-sizing: border-box;
}

.row {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  font-family: "Lato";
  color: white;
}

.col {
  position: absolute;
  width: 20%;
  min-height: 100vh;
  overflow: hidden;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 8px;
}

.col:nth-child(1) {
  background: #244f75;
}
.col:nth-child(2) {
  background: #60bfbf;
}
.col:nth-child(3) {
  background: #8c4b7e;
}
.col:nth-child(4) {
  background: #f8bb44;
}
.col:nth-child(5) {
  background: #f24b4b;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    text-align: center; 
}

h1 {
  font-weight: 300;
}

.skewed {
  transform: skew(30deg);
  background: #ffffff;
  opacity: 0.1;
}
